@import "tailwindcss";

body {
  color: #0f172a; /* slate-900 */
  background-color: #f8fafc; /* slate-50 */
}

.dark body {
  color: #f1f5f9; /* slate-100 */
  background-color: #020617; /* slate-950 */
}